@model CrudAplicativoUniversidad.Models.Mdcursos02

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Mdcursos02</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre02)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre02)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion02)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion02)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NroCreditos02)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NroCreditos02)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo02)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo02)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id02" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
