@model CrudAplicativoUniversidad.Models.Mdcursos02

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mdcursos02</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre02)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre02)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion02)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion02)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NroCreditos02)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NroCreditos02)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo02)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo02)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id02">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
