@model IEnumerable<CrudAplicativoUniversidad.Models.Mqsolicituddet07>

@{
    ViewData["Title"] = "Index";
}

<h1>Detalle Solicitud</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aula07)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sede07)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion07)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCurso02Navigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProfesor04Navigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSolicitud06Navigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aula07)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sede07)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion07)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCurso02Navigation.Id02)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProfesor04Navigation.Id04)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSolicitud06Navigation.Id06)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id07">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id07">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id07">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
