@model IEnumerable<CrudAplicativoUniversidad.Models.Mdcarreras05>

@{
    ViewData["Title"] = "Carreras";
}

<h1>Carreras</h1>

<p>
    <a asp-action="Create">Nueva Carrera</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion05)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion05)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id05">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id05">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id05">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
